* {
    box-sizing: border-box;
  }
  
  body {
    margin: 10px;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
    background-color: aqua;
    
  }
  
  
  .container {
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
    margin: 70px;
    padding: 70px;
  }
  
  .contact{
    display: grid;
    grid-auto-flow: column;
    font-size: larger;
  
  }
  
  img { 
    width: 49%;  
    height: auto;
    
  }
  
  
  
  
  
  
  